# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.My project.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Xioami\My project\.idea\.idea.My project\.idea/dataSources/
/dataSources.local.xml
